@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: azure;
    font-size: 70%;
}

p {
    font-size: 1.4rem;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

/* Styles the logo */
.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Adds a reasonable font size to the text on the nav bar */
.page_links {
    font-size: 1.2rem;
}

/* Adds spacing between the page links on the nav bar */
.page_links a {
    margin-left: 2rem;
}

/* Dark background styling */
.dark_bg {
    background-color: #181818;
    color: white;
}

/* Turns a text to purple */
.make_purple {
    color: #A91CFF;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 650;
}

/* Adds styling to text contents */
.text_container {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 5rem;
}

.flex_content {
    display: flex;
    justify-content: space-evenly;
}

.grid_content {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: 10fr 2fr 3fr;
    column-gap: 5rem;
}

/* Styling for the buttons */
.btn {
    color: #FFFF;
    background-color: #A91CFF;
    border-radius: 13px;
    padding: 1rem 3.5rem;
    display: inline-block;
    font-weight: bold;
    margin: 1.7rem 0rem;
    font-size: 1rem;
}

a {
    color: white;
}

/* Handles the default image size for a page */
main img {
    border-radius: 30px;
}

/* Styling for the Coach section */

#coach {
    display: flex;
    gap: 4%;
    padding-left: 8rem;
}

#coach img {
    width: 40rem;
    height: 30rem;
}

/* center the content */
#coach_info {
    margin-top: auto;
    margin-bottom: auto;
    position: sticky;
}

/* End of Coach styling */

#workouts {
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
}

#workouts img {
    max-width: 95%;
    height: 100%;
}

/* Few styles for the Getting started section */
#getting_started {
    padding: 5rem 10rem;
    display: flex;
    gap: 25%;
}

#getting_started img {
    width: 95%;
    background-size: cover;
    background-blend-mode: darken;
    padding-top: 3rem;
}

#getting_started .btn {
    padding: 1rem;
}

#gs-image p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

#gs-image img {
    height: 12rem;
}

/* end of getting started section */

footer {
    text-align: center;
    padding: 3rem;
}

footer p {
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

footer img {
    margin: 1rem;
}

/* Hover feature styling */
header a:hover,
main a:hover {
    background-color: white;
    color: #A91CFF;
    padding: 1rem;
    border-radius: 13px;
}

main a:hover {
    padding: 1rem 3.5rem;
}

/* About us page styling */

#about_us ol {
    margin: 0;
    margin-left: 4rem;
    font-size: 1.3rem;
}

#who_img img {
    height: 60em;
    width: 75em;
}

#about_us h1 {
    font-size: 3.5rem;
}

/* Styles the "Who We Are" section */
#difference_pitch {
    padding-bottom: 2rem;
}

#difference_pitch div {
    padding-top: 1rem;
}

#difference_pitch img {
    width: 95%;
    height: 80%;
}

/* Adds 5rem padding around an element */
.pad-5 {
    padding: 5rem;
}

/* Fixes the visual padding mismatch */
#commitment {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#commitment img {
    width: 30rem;
    height: 30rem;
}
